<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqm98ZQn5kdr1KYDuOQ2bzK3Wg5TxJ_7rcjg&s"
    cardTitle="Novo Homem de Ferro"
    cardDescription="Assista o filme lançado hoje e ao relançamento da trilogia em 4K"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card Id="2" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ58wdY5fFyX5JeEAQ47l1LDlp_Gf0nNRz4pw&s"
    cardTitle="Doutor Estranho"></app-small-card>
    <app-small-card Id="3" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1WkqwEGh5vlA4NAgNFf1dgSI9nH2OFgpM9A&s"
    cardTitle="Natasha Homanoff, a Viúva Negra"></app-small-card>
    <app-small-card Id="4"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSmWkCzrbzzBHU9g5KNBquuGjzjHMs87EhtA&s"
    cardTitle="Thor, o Deus do Trovão"></app-small-card>
  </div>
</div>
